@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html {
    @apply bg-background;
  }
}

@layer base {
  body {
    @apply font-body bg-background text-carbon antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  .font-headline {
    font-family: "Newsreader", serif;
  }

  .font-body {
    font-family: "Inter", sans-serif;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  }
}
